* {
    background-color: #ddeeff;
    font-family: Verdana, 'Segoe UI', Tahoma, sans-serif;
}

h1, h2 {
    border: #ddeeff solid 1px;
    background: linear-gradient(90deg, #FFFFFF, #ddeeff);
    padding: 10px;
}

h2 {
    padding: 5px;
}

p, 
li {
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
}